@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Font Family */
  --global--font-primary: "Sora", sans-serif;

  /* Font Size */
  --global--font-size-base: 1.25rem;
  --global--font-size-xs: 1rem;
  --global--font-size-sm: 1.125rem;
  --global--font-size-md: 1.25rem;
  --global--font-size-lg: 1.5rem;
  --global--font-size-xl: 2.25rem;
  --global--font-size-xxl: 4rem;
  --global--font-size-xxxl: 5rem;
  --global--font-size-page-title: var(--global--font-size-xxl);
  --global--letter-spacing: normal;

  /* Colors */
  --global--color-black: #130c32;
  --global--color-gray: #413c5a;
  --global--color-orange: #ff5802;
  --global--color-smoke: #e4e4e4;
  --global--color-bluesmoke: #e6eef4;
}

body {
  font-family: "Sora", sans-serif;
}

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

.filter-label {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  border-radius: 999px;
  padding: 4px;
  background-color: white;
  color: var(--global--color-black);
  border: solid 1px var(--global--color-smoke);
  font-weight: 600;
}

.filter-label .filter-symbol {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  background-color: var(--global--color-bluesmoke);
}

input[type="radio"]:checked ~ .filter-label {
  background-color: var(--global--color-orange);
  color: white;
}

input[type="radio"]:checked ~ .filter-label .filter-symbol {
  background-color: white;
}

.mySwiper-2 .swiper-wrapper .swiper-slide {
  max-width: 240px;
}
